.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px;
    font-family: 'Style Script', cursive;
    font-siza: 22;
}

.header, .articulo, .izquierda, .derecha, .footer{
    flex-grow: 1;
    flex-basis: 100%; 
    padding: 0px;
}

/* media queries */
/* tamaño tablet */
@media all and (min-width: 600px){
    .aside {
        /* flex: <flex-grow> <flex-shrink> <flex-basis> */
        flex: 1 1 auto;
    }
}
/* tamaño pc */
@media all and (min-width: 800px){
    .articulo{flex:2 0;}
    .izquierda{order: 1;}
    .articulo{order: 2;}
    .derecha{order: 3;}
    .footer{order: 4;}
}
   
.header{background: #004AAC;}
.izquierda{background: #58C2FF;}
.articulo{background: #6D96FF;}
.derecha{background: #00C2CB;}
.footer{background: #004AAC;}
